.header {
    background-color: #252525;
    color: #fff;
    padding: 20px;
}

.header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-title {
    font-size: 32px;
    margin: 0;
}

.header-nav {
    display: flex;
}

.header-link {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-weight: bold;
    transition: color 0.3s ease;
}

.header-link:hover {
    color: #f0c040;
}